@page
@model CocktailCity.frontend.Pages.Productos.DeleteModel
@using CocktailCity.Dominio
@{
}

<center>
<h1>Eliminar Producto</h1>
</center>
<hr/>
<center>
    <form method="post">
        <div class="jumbotron" style="width:600px">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Nombre</th>
                    <td>@Model.producto.Nombre</td>
                </tr>
                <tr>
                    <th scope="col">Tamaño</th>
                    <td>@Model.producto.Size</td>
                </tr>
                <tr>
                    <th scope="col">Precio</th>
                    <td>@Model.producto.Precio</td>
                </tr>
                <tr>
                    <th scope="col">Descripción</th>
                    <td>@Model.producto.Descripcion</td>
                </tr>
                <tr>
                    <th scope="col">Cantidad</th>
                    <td>@Model.producto.Cantidad</td>
                </tr>
            </table>
        </div>
        <center><input type="submit" value="Eliminar" class="btn btn-default" style="background-color: #D7DBDD"/> | <button type="button" value="Guardar" class="btn btn-default" style="background-color: #D7DBDD"><a href="https://localhost:5001/Productos/List" class="button">Regresar</a></button></center>
    </form>
</center>