@page
@model CocktailCity.frontend.Pages.Usuarios.DeleteModel
@using CocktailCity.Dominio
@{
}

<center>
<h1>Eliminar Usuario</h1>
</center>
<hr/>
<center>
    <form method="post">
        <div class="jumbotron" style="width:600px">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Nombre</th>
                    <td>@Model.usuario.Nombre</td>
                </tr>
                <tr>
                    <th scope="col">Tipo de Documento</th>
                    <td>@Model.usuario.TipoDocumento</td>
                </tr>
                <tr>
                    <th scope="col">Numero de Documento</th>
                    <td>@Model.usuario.NumeroDocumento</td>
                </tr>
                <tr>
                    <th scope="col">Género</th>
                    <td>@Model.usuario.Genero</td>
                </tr>
                <tr>
                    <th scope="col">Numero de contacto</th>
                    <td>@Model.usuario.NumeroContacto</td>
                </tr>
                <tr>
                    <th scope="col">Correo electronico</th>
                    <td>@Model.usuario.CorreoElectronico</td>
                </tr>
                <tr>
                    <th scope="col">Perfil</th>
                    <td>@Model.usuario.Perfil</td>
                </tr>
            </table>
        </div>
        <center><input type="submit" value="Eliminar" class="btn btn-default" style="background-color: #D7DBDD"/> | <button type="button" value="Guardar" class="btn btn-default" style="background-color: #D7DBDD"><a href="https://localhost:5001/Usuarios/List" class="button">Regresar</a></button></center>
    </form>
</center>